<p><a href="#messages">Go Back</a></p>

<h1>Compose New Message</h1>

<form id="compose-message">
	<span class="error"></span>
	<label for="send-to">Send To</label>
	<input type="text" name="send-to" />

	<div class="show-users">
		<ul class="user-list">

		</ul>
	</div>

	<label for="message-title">Message Title</label>
	<input type="text" name="message-title" />

	<label for="message-body">Message Body</label>
	<textarea></textarea>

	<input type="submit" value="Compose Mail" />
</form>