<ul class="nav">
	<!--<li><a href="#share">Share</a></li>-->
	<li><a href="#explore"><i class="icon-binoculars"></i> Explore</a></li>
	<li>
		<a href="#messages"><i class="icon-envelop"></i> Messages <span class="num-messages"></span></a>
		<ul class="user-options">
			<li><a href="#messages"><i class="icon-drawer"></i> Inbox</a></li>
			<li><a href="#sentmessages"><i class="icon-drawer-3"></i> Sent</a></li>
		</ul>
	</li>
    <li class="usercontain">
    	<a href="#users/<%= uid %>"><i class="icon-user"></i> <%= username %></a>
    	<ul class="user-options">
    		<li><a href="#editprofile"><i class="icon-profile"></i> Edit Profile</a></li>
			<li><a href="#logout"><i class="icon-exit"></i> Sign Out</a></li>
		</ul>
    </li>
</ul>