<ul class="nav">
	<li><a href="#share">Share</a></li>
	<li><a href="#explore">Explore</a></li>
	<li>
		<a href="#messages">Messages <span class="num-messages"></span></a>
		<ul class="user-options">
			<li><a href="#messages">Inbox</a></li>
			<li><a href="#sentmessages">Sent</a></li>
		</ul>
	</li>
    <li class="usercontain">
    	<a href="#users/<%= uid %>"><%= username %></a>
    	<ul class="user-options">
    		<li><a href="#editprofile">Edit Profile</a></li>
			<li><a href="#logout">Sign Out</a></li>
		</ul>
    </li>
</ul>