<div class="loginpage">

	<h1>Login</h1>

	<form id="login">
		<label for="username">Username or Email<span></span></label>
		<input type="text" name="username" placeholder="Username" />
		<label for="password">Password<span></span></label>
		<input type="password" name="password" placeholder="Password" />

		<span class="super-error"></span>
		<input type="submit" value="Login" />
	</form>

</div>