<div id="messages">
	<!--<h1><%= pageTitle %></h1>-->

<% if(hideTools === false) { %>
	<div class="toolbar">
		<a href="#compose" class="linkbutton blue-button"><i class="icon-pencil"></i> Compose</a>
		<button name="deletemessage" class="linkbutton message-tool delete"><i class="icon-remove"></i> Delete</button>
	</div>
<% } else { %>
	<p>The message will be displayed here if the recipient has not deleted it already.</p>
<% } %>


	<table id="message-table">
		<tbody>
				<th class="markMessage"></th>
				<th class="message-title"><i class="icon-envelop"></i> Message Title</th>
				<th class="message-from"><i class="icon-users"></i> <%= messageType %></th>
				<th class="message-received"><i class="icon-calendar"></i> <%= sentTimeTitle %></th>
		</tbody>
	</table>
</div>
