

<div class="aboutpage">

	<h1>Registration</h1>
	<p>Why not? It's free!</p>

	<form id="register">
		<label for="username">Username<span></span></label>
		<input type="text" name="username" placeholder="Username" />
		<label for="password">Password<span></span></label>
		<input type="password" name="password" placeholder="Password" />
		<label for="passwordconfirm">Password Confirm<span></span></label>
		<input type="password" name="passwordconfirm" placeholder="Password" />
		<label for="email">Email<span></span></label>
		<input type="email" name="email" placeholder="YourEmail@example.com" />

		<span class="super-error"></span>
		<input type="submit" value="Register" />
	</form>

</div>